.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
backend/.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
